<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.CharacterMapper">

    <resultMap id="character" type="com.example.backend.response.CharacterList">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>

            <result property="movie_id" column="movie_id"/>
            <result property="movie_name" column="movie_name"/>
            <collection property="staff" ofType="com.example.backend.response.Staff">
                <result property="id" column="staff_id"/>
                <result property="name" column="staff_name"/>
            </collection>
    </resultMap>

    <select id="characterList" resultMap="character">
        SELECT
            character.id,
            character.name,
            character.description,
            character.create_time,
            character.update_time,
            staff.id as staff_id,
            staff.name as staff_name,
            movie.id as movie_id,
            movie.name as movie_name
        FROM character
            LEFT JOIN staff_character ON character.id = staff_character.character_id
            LEFT JOIN staff ON staff_character.staff_id = staff.id
            LEFT JOIN movie ON staff_character.movie_id = movie.id
        <where>
            character.deleted = 0
            <if test="query.name != null and !query.name.equals('')">
                AND movie.name LIKE concat('%', #{query.name}, '%')
            </if>
        </where>
    </select>
    <select id="characterDetail" resultMap="character">
        SELECT
            character.id,
            character.name,
            character.description,
            character.create_time,
            character.update_time,
            staff.id as staff_id,
            staff.name as staff_name,
            movie.id as movie_id,
            movie.name as movie_name
        FROM character
                 LEFT JOIN staff_character ON character.id = staff_character.character_id
                 LEFT JOIN staff ON staff_character.staff_id = staff.id
                 LEFT JOIN movie ON staff_character.movie_id = movie.id
        WHERE
            character.id = #{id}
    </select>
</mapper>
