<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.CharacterMapper">

    <resultMap id="character" type="com.example.backend.response.CharacterList">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="original_name" column="original_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <collection property="staff" ofType="com.example.backend.response.Staff">
                <result property="id" column="staff_id"/>
                <result property="name" column="staff_name"/>
            </collection>
    </resultMap>

    <select id="characterList" resultMap="character">
        SELECT
            character.id,
            character.cover,
            character.name,
            character.original_name,
            character.description,
            character.create_time,
            character.update_time,
            staff.id as staff_id,
            staff.name as staff_name
        FROM character
            LEFT JOIN staff_character ON character.id = staff_character.character_id
            LEFT JOIN staff ON staff_character.staff_id = staff.id
        <where>
            character.deleted = 0
            <if test="query.name != null and !query.name.equals('')">
                AND movie.name LIKE concat('%', #{query.name}, '%')
            </if>
            <if test="query.id != null and query.id.size() > 0">
                <foreach collection="query.id" item="id" open="AND character.id IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY character.update_time DESC
    </select>
    <select id="characterDetail" resultMap="character">
        SELECT
            character.id,
            character.cover,
            character.name,
            character.original_name,
            character.description,
            character.create_time,
            character.update_time,
            staff.id as staff_id,
            staff.name as staff_name
        FROM character
                 LEFT JOIN staff_character ON character.id = staff_character.character_id
                 LEFT JOIN staff ON staff_character.staff_id = staff.id
        WHERE
            character.id = #{id}
    </select>
</mapper>
