<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.CinemaMapper">
    <resultMap id="cinemaList" type="com.example.backend.response.CinemaResponse">
        <id property="id" column="id"></id>
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="description" column="description"></result>
        <result property="address" column="address"></result>
        <result property="tel" column="tel"></result>
        <result property="home_page" column="home_page"></result>
        <result property="max_select_seat_count" column="max_select_seat_count"></result>
        <result property="theater_count" column="theater_count"></result>
        <result property="brand_id" column="brand_id"></result>
        <result property="brand_name" column="brand_name"></result>
        <collection property="spec" ofType="com.example.backend.response.CinemaSpec">
            <result property="id" column="spec_id"></result>
            <result property="name" column="spec_name"></result>
            <result property="plus_price" column="plus_price"></result>
        </collection>
    </resultMap>
        <select id="cinemaSpec" resultType="com.example.backend.response.Spec">
            SELECT
                cinema_spec.id,
                cinema_spec.name,
                cinema_spec.description
            FROM cinema_spec_spec
                     LEFT JOIN cinema_spec ON cinema_spec_spec.spec_id = cinema_spec.id
            WHERE
                cinema_spec_spec.deleted = 0 AND
                cinema_spec_spec.cinema_id = #{cinemaId}
        </select>
        <select id="cinemaList" resultMap="cinemaList">
            SELECT
            cinema.id,
            cinema.name,
            cinema.description,
            cinema.address,
            cinema.home_page,
            cinema.tel,
            cinema.max_select_seat_count,
            cinema_spec."id" as spec_id,
            cinema_spec."name" as spec_name,
            brand.id as brand_id,
            brand.name as brand_name,
            (
                SELECT
                    COUNT(theater_hall.cinema_id)
                    FROM theater_hall
                    WHERE
                        theater_hall.cinema_id = cinema.id AND
                        theater_hall.deleted = 0
                ) AS theater_count
            FROM cinema
            LEFT JOIN brand ON cinema.brand_id = brand.id
            LEFT JOIN cinema_spec_spec ON cinema_spec_spec.cinema_id = cinema.id
            LEFT JOIN cinema_spec ON cinema_spec_spec.spec_id = cinema_spec.id
            <where>
                cinema.deleted = 0
                <if test="query.name != null and !query.name.equals('')">
                    AND cinema.name LIKE concat('%', #{query.name}, '%')
                </if>
                <if test="query.id != null and !query.id.equals('')">
                    AND cinema.id = #{query.id}
                </if>
            </where>
        </select>
        <select id="cinemaDetail" resultMap="cinemaList">
            SELECT
                cinema.id,
                cinema.name,
                cinema.description,
                cinema.address,
                cinema.home_page,
                cinema.max_select_seat_count,
                cinema.tel,
                cinema_spec.id AS spec_id,
                cinema_spec.name AS spec_name,
                cinema_spec_spec.plus_price,
                brand.id as brand_id,
                brand.name as brand_name,
                (
                    SELECT
                        COUNT(theater_hall.cinema_id)
                        FROM theater_hall
                    WHERE
                        theater_hall.cinema_id = cinema.id AND
                        theater_hall.deleted = 0
                ) AS theater_count
            FROM cinema
            LEFT JOIN brand ON cinema.brand_id = brand.id
            LEFT JOIN cinema_spec_spec ON cinema_spec_spec.cinema_id = cinema.id
            LEFT JOIN cinema_spec ON cinema_spec_spec.spec_id = cinema_spec.id
            WHERE
                cinema.id = #{id}
        </select>
</mapper>