<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.MovieShowTimeMapper">
    <resultMap id="movie_show_time_list" type="com.example.backend.response.MovieShowTimeList">
        <id property="id" column="id"></id>
        <result property="id" column="id"></result>
        <result property="open" column="open"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="status" column="status"></result>
        <result property="movieId" column="movie_id"></result>
        <result property="movieName" column="movie_name"></result>
        <result property="movieCover" column="movie_cover"></result>
        <result property="cinemaId" column="cinema_id"></result>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="theaterHallId" column="theater_hall_id"></result>
        <result property="theaterHallName" column="theater_hall_name"></result>
        <result property="theaterHallSpec" column="theater_hall_spec"></result>
        <result property="seatCount" column="seat_count"></result>
        <result property="selectedSeatCount" column="selected_seat_count"></result>
        <result property="subtitleId" column="subtitle_id"></result>
        <result property="subtitleName" column="subtitle_name"></result>
        <result property="showTimeTagId" column="show_time_tag_id"></result>
        <result property="showTimeTagName" column="show_time_tag_name"></result>
        <collection property="spec" ofType="com.example.backend.response.Spec">
            <result property="id" column="spec_id"></result>
            <result property="name" column="spec_name"></result>
            <result property="description" column="spec_description"></result>
        </collection>
    </resultMap>
    <resultMap id="userSelectSeat" type="com.example.backend.response.UserSelectSeat">
        <result property="movieShowTimeId" column="movie_show_time_id"></result>
        <result property="movieId" column="movie_id"></result>
        <result property="movieName" column="movie_name"></result>
        <result property="moviePoster" column="movie_poster"></result>
        <result property="date" column="date"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="specName" column="spec_name"></result>
        <result property="cinemaId" column="cinema_id"></result>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="theaterHallId" column="theater_hall_id"></result>
        <result property="theaterHallName" column="theater_hall_name"></result>
        <collection property="seat" ofType="com.example.backend.response.UserSelectSeatList">
            <result property="x" column="x"></result>
            <result property="y" column="y"></result>
            <result property="seatId" column="seat_id"></result>
            <result property="seatName" column="seat_name"></result>
            <result property="areaName" column="area_name"></result>
            <result property="areaPrice" column="area_price"></result>
            <result property="movieTicketTypeId" column="movie_ticket_type_id"></result>
            <result property="plusPrice" column="plus_price"></result>
        </collection>
    </resultMap>
    <select id="userSelectSeat" resultMap="userSelectSeat">
        SELECT
            select_seat.movie_show_time_id,
            select_seat.theater_hall_id,
            select_seat.x,
            select_seat.y,
            select_seat.seat_id,
            seat_area.price as area_price,
            seat_area.name as area_name,
            movie.id as movie_id,
            movie.name as movie_name,
            movie.cover as movie_poster,
            TO_CHAR(movie_show_time.start_time::date, 'YYYY-MM-DD') AS date,
            TO_CHAR(movie_show_time.start_time::timestamp, 'HH24:MI') AS start_time,
            TO_CHAR(movie_show_time.end_time::timestamp, 'HH24:MI') AS end_time,
            cinema_spec.name as spec_name,
            cinema_spec_spec.plus_price,
            select_seat.movie_ticket_type_id,
            seat.seat_name as seat_name,
            cinema.id as cinema_id,
            cinema.name as cinema_name,
            theater_hall.name as theater_hall_name
        FROM
            select_seat
            LEFT JOIN seat ON
            seat.theater_hall_id = select_seat.theater_hall_id AND
            seat.x_axis = select_seat.x AND
            seat.y_axis = select_seat.y AND
            seat.deleted = 0
            LEFT JOIN movie_show_time ON select_seat.movie_show_time_id = movie_show_time.id
            LEFT JOIN movie ON movie_show_time.movie_id = movie.id
            LEFT JOIN seat_area ON seat.seat_area_id = seat_area.id
            LEFT JOIN theater_hall ON select_seat.theater_hall_id = theater_hall.id AND theater_hall.deleted = 0
            LEFT JOIN cinema ON  theater_hall.cinema_id = cinema."id"
            LEFT JOIN cinema_spec ON theater_hall.cinema_spec_id = cinema_spec.id
            LEFT JOIN cinema_spec_spec ON cinema_spec_spec.spec_id = theater_hall.cinema_spec_id AND cinema_spec_spec.deleted = 0
        WHERE
            select_seat.user_id = #{userId} AND
            select_seat.movie_show_time_id = #{movieShowTimeId} AND
            select_seat.select_seat_state = #{seatState} AND
            select_seat.deleted = 0
    </select>
    <select id="movieShowTimeList" resultMap="movie_show_time_list">
            SELECT
                movie_show_time.id,
                movie_show_time.start_time,
                movie_show_time.end_time,
                movie_show_time.status,
                movie_show_time.open,
                movie.id AS movie_id,
                movie.name AS movie_name,
                movie.cover AS movie_cover,
                cinema.id AS cinema_id,
                cinema.name AS cinema_name,
                theater_hall.id AS theater_hall_id,
                theater_hall.name AS theater_hall_name,
                language.id as subtitle_id,
                language.name as subtitle_name,
                movie_show_time_tag.id as show_time_tag_id,
                movie_show_time_tag.name as show_time_tag_name,
                (
                    SELECT
                        COUNT(seat.show)
                    FROM seat
                    WHERE
                        seat.deleted = 0 AND
                        seat.theater_hall_id = theater_hall.id AND
                        seat.show = TRUE
                ) AS seat_count,
                (
                    SELECT
                        COUNT(*)
                    FROM select_seat
                        LEFT JOIN movie_order ON movie_order.id = select_seat.movie_order_id
                    WHERE
                        select_seat.movie_show_time_id = movie_show_time.id AND
                        select_seat.movie_order_id IS NOT NULL AND
                        select_seat.deleted = 0 AND
                        movie_order.order_state = #{orderState}
                ) AS selected_seat_count,
                cinema_spec.id AS spec_id,
                cinema_spec.name AS spec_name,
                cinema_spec.description AS spec_description,
                cs2.name as theater_hall_spec
            FROM
                movie_show_time
            LEFT JOIN language ON movie_show_time.subtitle_id = language.id
            LEFT JOIN movie_show_time_tag ON movie_show_time.show_time_tag_id = movie_show_time_tag.id
            LEFT JOIN movie ON movie.id = movie_show_time.movie_id AND movie.deleted = 0
            LEFT JOIN movie_spec ON movie.id = movie_spec.movie_id AND movie_spec.deleted = 0
            LEFT JOIN cinema_spec ON movie_spec.spec_id = cinema_spec.id AND cinema_spec.deleted = 0
            LEFT JOIN cinema ON cinema.id = movie_show_time.cinema_id AND cinema.deleted = 0
            LEFT JOIN theater_hall ON theater_hall.id = movie_show_time.theater_hall_id AND theater_hall.deleted = 0
            LEFT JOIN cinema_spec cs2 ON theater_hall.cinema_spec_id = cs2.id AND cs2.deleted = 0
            <where>
                movie_show_time.deleted = 0
                <if test="query.movieId != null and !query.movieId.equals('')">
                    AND movie.id = #{query.movieId}
                </if>
                <if test="query.cinemaId != null and !query.cinemaId.equals('')">
                    AND cinema.id = #{query.cinemaId}
                </if>
                <if test="query.theaterHallId != null and !query.theaterHallId.equals('')">
                    AND theater_hall.id = #{query.theaterHallId}
                </if>
                <if test="query.date != null and !query.date.equals('')">
                    AND TO_DATE(movie_show_time.start_time, 'YYYY-MM-DD') = TO_DATE(#{query.date}, 'YYYY-MM-DD')
                </if>
            </where>
            ORDER BY
                movie_show_time.update_time DESC
    </select>
    <resultMap id="StatisticsOfDailyMovieScreenings" type="com.example.backend.response.chart.StatisticsOfDailyMovieScreenings">
        <result property="startTime" column="start_time"></result>
        <result property="totalCount" column="total_count"></result>
        <collection property="movie" ofType="com.example.backend.response.chart.Movie">
            <result property="movieId" column="movie_id"></result>
            <result property="movieName" column="movie_name"></result>
            <result property="movieCount" column="movie_count"></result>
        </collection>
    </resultMap>

    <select id="StatisticsOfDailyMovieScreenings" resultMap="StatisticsOfDailyMovieScreenings">
        --- 统计每日上映场次，以及前10名上映电影的场次数
        WITH daily_total AS (
            SELECT
                TO_CHAR(DATE_TRUNC('day', TO_TIMESTAMP(movie_show_time.start_time, 'YYYY-MM-DD HH24:MI:SS')), 'YYYY-MM-DD') AS start_time,
                COUNT(*) AS total_count
            FROM movie_show_time
            WHERE movie_show_time.deleted = 0
            GROUP BY DATE_TRUNC('day', TO_TIMESTAMP(movie_show_time.start_time, 'YYYY-MM-DD HH24:MI:SS'))
        ),
        daily_movie_count AS (
            SELECT
                TO_CHAR(DATE_TRUNC('day', TO_TIMESTAMP(movie_show_time.start_time, 'YYYY-MM-DD HH24:MI:SS')), 'YYYY-MM-DD') AS start_time,
                movie.name AS movie_name,
                movie.id AS movie_id,
                COUNT(*) AS movie_count,
                ROW_NUMBER() OVER (PARTITION BY TO_CHAR(DATE_TRUNC('day', TO_TIMESTAMP(movie_show_time.start_time, 'YYYY-MM-DD HH24:MI:SS')), 'YYYY-MM-DD') ORDER BY COUNT(*) DESC) AS rn
            FROM movie_show_time
            LEFT JOIN
                movie ON movie_show_time.movie_id = movie.id
            WHERE
                movie_show_time.deleted = 0
            GROUP BY DATE_TRUNC('day', TO_TIMESTAMP(movie_show_time.start_time, 'YYYY-MM-DD HH24:MI:SS')), movie.name, movie.id
        )
        SELECT
            dt.start_time,
            dt.total_count,
            dmc.movie_id,
            dmc.movie_name,
            dmc.movie_count
        FROM daily_total dt
        LEFT JOIN
            daily_movie_count dmc ON dt.start_time = dmc.start_time
        WHERE
            dmc.rn &lt; 10 OR dmc.rn IS NULL
        ORDER BY dt.start_time ASC, dmc.movie_count DESC;
    </select>
    <select id="appMovieShowTimeDetail" resultType="com.example.backend.response.app.AppMovieShowTimeDetail">
        SELECT
            movie_show_time.id as id,
            TO_CHAR(movie_show_time.start_time::date, 'YYYY-MM-DD') AS date,
            TO_CHAR(movie_show_time.start_time::timestamp, 'HH24:MI') AS start_time,
            TO_CHAR(movie_show_time.end_time::timestamp, 'HH24:MI') AS end_time,
            movie_show_time.status as status,
            movie.id as movie_id,
            movie.name as movie_name,
            cinema.id as cinema_id,
            cinema.name as cinema_name,
            theater_hall.id as theater_hall_id,
            theater_hall."name" as theater_hall_name
        FROM movie_show_time
                 LEFT JOIN movie ON movie_show_time.movie_id = movie.id
                 LEFT JOIN cinema ON movie_show_time.cinema_id = cinema.id
                 LEFT JOIN theater_hall ON movie_show_time.theater_hall_id = theater_hall.id
        WHERE
            movie_show_time.id = #{id}
    </select>
</mapper>