<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.MovieOrderMapper">
    <resultMap id="orderList" type="com.example.backend.response.order.OrderListResponse">
        <result property="id" column="id"></result>
        <result property="orderTotal" column="order_total"></result>
        <result property="orderState" column="order_state"></result>
        <result property="orderTime" column="order_time"></result>
        <result property="payMethod" column="pay_method"></result>
        <result property="payState" column="pay_state"></result>
        <result property="payTotal" column="pay_total"></result>
        <result property="payNumber" column="pay_number"></result>
        <result property="payTime" column="pay_time"></result>
        <result property="date" column="date"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="status" column="status"></result>
        <result property="movieId" column="movie_id"></result>
        <result property="movieName" column="movie_name"></result>
        <result property="moviePoster" column="movie_poster"></result>
        <result property="cinemaId" column="cinema_id"></result>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="theaterHallName" column="theater_hall_name"></result>
        <result property="theaterHallSpecName" column="theater_hall_spec_name"></result>
        <result property="payMethod" column="pay_method"></result>
        <collection property="seat" ofType="com.example.backend.response.order.Seat">
            <result property="seatX" column="seat_x"></result>
            <result property="seatY" column="seat_y"></result>
            <result property="seatName" column="seat_name"></result>
            <result property="movieTicketTypeName" column="movie_ticket_type_name"></result>
        </collection>
    </resultMap>
    <select id="orderList" resultMap="orderList">
        SELECT
            movie_order.id,
            movie_order.order_total,
            movie_order.order_state,
            movie_order.pay_state,
            movie_order.pay_total,
            movie_order.pay_time,
            movie_order.pay_number,
            movie_order.create_time AS order_time,
            movie_show_time.start_time,
            movie_show_time.end_time,
            movie.name as movie_name,
            movie.cover as movie_poster,
            cinema.name as cinema_name,
            theater_hall.name as theater_hall_name,
            cinema_spec.name as theater_hall_spec_name,
            select_seat.x as seat_x,
            select_seat.y as seat_y,
            seat.seat_name,  -- 查询 seat 表中的 seat_name
            movie_ticket_type.name as movie_ticket_type_name,
            payment_methods.name as pay_method
        FROM movie_order
            LEFT JOIN movie_show_time ON movie_order.movie_show_time_id = movie_show_time.id
            LEFT JOIN movie ON movie_show_time.movie_id = movie.id
            LEFT JOIN cinema ON movie_show_time.cinema_id = cinema.id
            LEFT JOIN theater_hall ON movie_show_time.theater_hall_id = theater_hall.id
            LEFT JOIN cinema_spec ON theater_hall.cinema_spec_id = cinema_spec.id
            LEFT JOIN select_seat ON select_seat.movie_order_id = movie_order.id
            LEFT JOIN seat ON seat.x_axis = select_seat.x AND seat.y_axis = select_seat.y
            LEFT JOIN movie_ticket_type ON select_seat.movie_ticket_type_id = movie_ticket_type.id
            LEFT JOIN payment_methods ON movie_order.pay_method_id = payment_methods.id
        <where>
            movie_order.deleted = 0
            <if test="query.movieId != null and !query.movieId.equals('')">
                AND movie.id = #{query.movieId}
            </if>
            <if test="query.cinemaId != null and !query.cinemaId.equals('')">
                AND cinema.id = #{query.cinemaId}
            </if>
            <if test="query.theaterHallId != null and !query.theaterHallId.equals('')">
                AND theater_hall.id = #{query.theaterHallId}
            </if>
            <if test="query.id != null and !query.id.equals('')">
                AND movie_order.id = #{query.id}
            </if>
            <if test="query.orderState != null and !query.orderState.equals('')">
                AND movie_order.order_state = #{query.orderState}
            </if>
            <if test="query.payState != null and !query.payState.equals('')">
                AND movie_order.pay_state = #{query.payState}
            </if>
            <!-- 根据订单时间查询 -->
            <!-- 只有 start 时间 -->
            <if test="query.orderStartTime != null and !query.orderStartTime.equals('')">
                AND movie_order.create_time &gt;= TO_TIMESTAMP(#{query.orderStartTime}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
            <!-- 只有 end 时间 -->
            <if test="query.orderEndTime != null and !query.orderEndTime.equals('')">
                AND movie_order.create_time &lt;= TO_TIMESTAMP(#{query.orderEndTime}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
        </where>
    </select>
    <select id="orderDetail" resultMap="orderList">
        SELECT
        movie_order.id,
        movie_order.order_total,
        movie_order.order_state,
        movie_order.pay_state,
        movie_order.pay_total,
        movie_order.pay_time,
        movie_order.pay_number,
        movie_order.create_time AS order_time,
        TO_CHAR(movie_show_time.start_time::date, 'YYYY-MM-DD') AS date,
        TO_CHAR(movie_show_time.start_time::timestamp, 'HH24:MI') AS start_time,
        TO_CHAR(movie_show_time.end_time::timestamp, 'HH24:MI') AS end_time,
        movie.id as movie_id,
        movie.name as movie_name,
        movie.cover as movie_poster,
        cinema.id as cinema_id,
        cinema.name as cinema_name,
        theater_hall.name as theater_hall_name,
        cinema_spec.name as theater_hall_spec_name,
        select_seat.x as seat_x,
        select_seat.y as seat_y,
        seat.seat_name,  -- 查询 seat 表中的 seat_name
        movie_ticket_type.name as movie_ticket_type_name,
        payment_methods.name as pay_method
    FROM movie_order
        LEFT JOIN movie_show_time ON movie_order.movie_show_time_id = movie_show_time.id
        LEFT JOIN movie ON movie_show_time.movie_id = movie.id
        LEFT JOIN cinema ON movie_show_time.cinema_id = cinema.id
        LEFT JOIN theater_hall ON movie_show_time.theater_hall_id = theater_hall.id
        LEFT JOIN cinema_spec ON theater_hall.cinema_spec_id = cinema_spec.id
        LEFT JOIN select_seat ON select_seat.movie_order_id = movie_order.id
        LEFT JOIN seat ON seat.x_axis = select_seat.x AND seat.y_axis = select_seat.y
        LEFT JOIN movie_ticket_type ON select_seat.movie_ticket_type_id = movie_ticket_type.id
        LEFT JOIN payment_methods ON movie_order.pay_method_id = payment_methods.id
    WHERE
        movie_order.id = #{orderId}
    </select>
    <resultMap id="DailyOrderStatistics" type="com.example.backend.response.chart.DailyOrderStatistics">
        <result property="date" column="date"></result>
        <result property="count" column="count"></result>
        <collection property="orderState" ofType="com.example.backend.response.chart.OrderState">
            <result property="state" column="state"></result>
            <result property="count" column="count"></result>
        </collection>
    </resultMap>
    <select id="DailyOrderStatistics" resultMap="DailyOrderStatistics">
        WITH order_total AS (
            SELECT
                TO_CHAR(movie_order.create_time, 'YYYY-MM-DD') AS date,
                COUNT(*) AS count
            FROM movie_order
            WHERE movie_order.deleted = 0
            GROUP BY date
            ORDER BY date DESC
            LIMIT 30
        ),
        --- 统计每日订单数量
             order_state_count AS (
                 SELECT
                     TO_CHAR(movie_order.create_time, 'YYYY-MM-DD') AS date,
                     movie_order.order_state,
                     COUNT(*) AS state_count
                 FROM movie_order
                 WHERE movie_order.deleted = 0
                 GROUP BY date, movie_order.order_state
             )
        --- 统计每日不同订单状态的数量
        SELECT
            order_total.date,
            order_total.count,
            order_state_count.order_state AS state,
            order_state_count.state_count
        FROM
            order_total
                LEFT JOIN
            order_state_count
            ON
                order_total.date = order_state_count.date
        ORDER BY
            order_total.date ASC
    </select>
    <select id="userOrderList" resultMap="orderList">
        SELECT
            movie_order.id,
            movie_order.order_total,
            movie_order.order_state,
            movie_order.pay_state,
            movie_order.pay_total,
            movie_order.pay_time,
            movie_order.pay_number,
            movie_order.create_time AS order_time,
            TO_CHAR(movie_show_time.start_time::date, 'YYYY-MM-DD') AS date,
            TO_CHAR(movie_show_time.start_time::timestamp, 'HH24:MI') AS start_time,
            TO_CHAR(movie_show_time.end_time::timestamp, 'HH24:MI') AS end_time,
            movie.name as movie_name,
            movie.cover as movie_poster,
            cinema.name as cinema_name,
            theater_hall.name as theater_hall_name,
            cinema_spec.name as theater_hall_spec_name
        FROM select_seat
                 LEFT JOIN movie_order ON movie_order."id" = select_seat.movie_order_id
                 LEFT JOIN movie_show_time ON movie_order.movie_show_time_id = movie_show_time.id
                 LEFT JOIN movie ON movie_show_time.movie_id = movie.id
                 LEFT JOIN cinema ON movie_show_time.cinema_id = cinema.id
                 LEFT JOIN theater_hall ON movie_show_time.theater_hall_id = theater_hall.id
                 LEFT JOIN cinema_spec ON theater_hall.cinema_spec_id = cinema_spec.id
        WHERE
            select_seat.user_id = #{userId}
            AND select_seat.movie_order_id is NOT NULL
    </select>
    <resultMap id="DailyTransactionAmount" type="com.example.backend.response.chart.DailyTransactionAmount">
        <result property="date" column="date"></result>
        <result property="totalAmount" column="total_amount"></result>
    </resultMap>
    <select id="DailyTransactionAmount" resultMap="DailyTransactionAmount">
        WITH daily_transaction_summary AS (
            SELECT
                TO_CHAR(movie_order.create_time, 'YYYY-MM-DD') AS date,
                SUM(movie_order.pay_total) AS total_amount
            FROM movie_order
            WHERE
                    movie_order.deleted = 0 AND
                    movie_order.order_state = #{orderState} AND
                    movie_order.pay_state = #{payState}
            GROUP BY date
            ORDER BY date DESC
            LIMIT 30
        )

        SELECT
            date,
            total_amount
        FROM
            daily_transaction_summary
        ORDER BY
            date ASC

    </select>
</mapper>