<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.MovieShowTimeMapper">
    <resultMap id="movie_show_time_list" type="com.example.backend.response.MovieShowTimeList">
        <id property="id" column="id"></id>
        <result property="id" column="id"></result>
        <result property="start_time" column="start_time"></result>
        <result property="end_time" column="end_time"></result>
        <result property="status" column="status"></result>
        <result property="movie_id" column="movie_id"></result>
        <result property="movie_name" column="movie_name"></result>
        <result property="movie_cover" column="movie_cover"></result>
        <result property="cinema_id" column="cinema_id"></result>
        <result property="cinema_name" column="cinema_name"></result>
        <result property="theater_hall_id" column="theater_hall_id"></result>
        <result property="theater_hall_name" column="theater_hall_name"></result>
        <result property="theater_hall_spec" column="theater_hall_spec"></result>
        <collection property="spec" ofType="com.example.backend.response.Spec">
            <result property="id" column="spec_id"></result>
            <result property="name" column="spec_name"></result>
            <result property="description" column="spec_description"></result>
        </collection>
    </resultMap>
        <select id="movieShowTimeList" resultMap="movie_show_time_list">
            SELECT
                movie_show_time.id,
                movie_show_time.start_time,
                movie_show_time.end_time,
                movie_show_time.status,
                movie.id AS movie_id,
                movie.name AS movie_name,
                movie.cover AS movie_cover,
                cinema.id AS cinema_id,
                cinema.name AS cinema_name,
                theater_hall.id AS theater_hall_id,
                theater_hall.name AS theater_hall_name,
                theater_hall.spec AS theater_hall_spec,
                cinema_spec.id AS spec_id,
                cinema_spec.name AS spec_name,
                cinema_spec.description AS spec_description
            FROM movie_show_time
                LEFT JOIN movie ON movie.id = movie_show_time.movie_id
                LEFT JOIN movie_spec ON movie.id = movie_spec.movie_id
                LEFT JOIN cinema_spec ON movie_spec.spec_id = cinema_spec.id
                LEFT JOIN cinema ON cinema.id = movie_show_time.cinema_id
                LEFT JOIN theater_hall ON theater_hall.id = movie_show_time.theater_hall_id
            ORDER BY movie.update_time DESC
        </select>
</mapper>