<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.backend.mapper.SelectSeatMapper">
    <resultMap id="seatListResponseMap" type="com.example.backend.response.SeatListResponse">
        <id property="id" column="id"/>
        <result property="theaterHallId" column="theater_hall_id"/>
        <result property="x" column="x_axis"/>
        <result property="y" column="y_axis"/>
        <result property="z" column="z_axis"/>
        <result property="selected" column="selected"/>
        <result property="show" column="show"/>
        <result property="disabled" column="disabled"/>
        <result property="wheelChair" column="wheel_chair"/>
        <result property="seatPositionGroup" column="seat_position_group"/>
        <association property="area" javaType="com.example.backend.response.SeatAreaResponse">
            <id property="id" column="seat_area_id"/>
            <result property="name" column="seat_area_name"/>
            <result property="price" column="seat_area_price"/>
            <result property="color" column="seat_area_color"/>
        </association>
    </resultMap>
    <select id="selectSeatList" resultMap="seatListResponseMap">
        SELECT
            seat.theater_hall_id,
            seat.id,
            seat.x_axis,
            seat.y_axis,
            seat.z_axis,
            seat.show,
            seat.disabled,
            seat.wheel_chair,
            seat.seat_position_group,
            seat.seat_area_id,
            seat_area.name as seat_area_name,
            seat_area.price as seat_area_price,
            seat_area.color as seat_area_color,
            CASE
                WHEN select_seat.user_id IS NOT NULL THEN true
                ELSE false
                END AS selected
        FROM seat
            LEFT JOIN select_seat ON
                    seat.theater_hall_id = select_seat.theater_hall_id AND
                    seat.x_axis = select_seat.x AND
                    seat.y_axis = select_seat.y AND
                    select_seat.deleted = 0 AND
                    select_seat.movie_show_time_id = ${movieShowTimeId}
            LEFT JOIN seat_area ON seat.seat_area_id = seat_area.id
        WHERE
            seat.theater_hall_id=${theaterHallId} AND
            seat.deleted = 0
        ORDER BY seat.x_axis ASC, seat.y_axis ASC
    </select>
</mapper>