<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.entity.UserRole">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteRole">
        DELETE FROM user_role WHERE user_role.user_id = #{id}
    </delete>
</mapper>
